#pragma once

#undef SSID
#undef PASSWORD
#undef SERVERIP

#define SSID "your-wifi-ssid"
#define WIFI_PASSWORD "your-wifi-password"
#define SERVERIP "192.168.x.x:5000"
#define WIFI_SSID "your-wifi-ssid"
#define WIFI_PW "your-wifi-password"