@page "/"

<PageTitle>Max PlantStations Home</PageTitle>

<h1>Max PlantStations</h1>

Willkommen auf Max PlantStations. <br> Hier können die Messwerte aller aktuellen Messstationen zur Überwachung meiner 
Pflanzen eingesehen werden.   