#OuterTabsContainer{
    background-color: white;
}

#OuterTabsContainer QTabBar::tab:selected,
#InnerTabsContainer QTabBar::tab:selected{
    background-color: green;
    color: white;
}

#OuterTabsContainer QTabBar::tab:!selected,
#InnerTabsContainer{
    background-color: #cfcfcf;
    color: black;
}

#OuterTabsContainer::pane,
#InnerTabsContainer::pane{
    border: 1px solid black;
}

#InnerTabsContainer QTabBar::tab:!selected,
MeasurementsWidgetBase, TimePickerWidget, InfoWidgetBase,
InfoWidgetBase QLabel,
TimePickerWidget QLabel{
    background-color: #acacac;
    color: black;
}

TimePickerWidget QRadioButton{
    color: black
}

TimePickerWidget QRadioButton::indicator{
    border: 2px solid white;
    border-radius: 5px;
    width: 6px;
    height: 6px;
}

TimePickerWidget QRadioButton::indicator:unchecked{
    background-color: white
}

TimePickerWidget QRadioButton::indicator:checked{
    background-color: dimgrey
}

TimePickerWidget QDateTimeEdit::up-button, QDateTimeEdit::down-button{
    width: 0;
}

PlotWidgetBase{
    background-color: rgb(255,255,255);
}

InfoWidgetBase #plot_error_label{
    color: red;
    font-size: 25px;
    font-weight: bold;
}

QPushButton{
    background-color: lightgrey;
    color: black;
}